html, body {
  height: 100%;
}

html {
  font-size: 100%;
  overflow-y: scroll;
}

body {
  font-size: 13px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  color: #676767;
}

body.modal-open {
  overflow: visible;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  line-height: 30px;
}

/* Links */
a {
  outline: none !important;
}

a, a:link, a:visited {
  color: #eb1d27;
  text-decoration: none;
}

a, btn, button {
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

a:hover, a:focus {
  color: #000;
}

#timetable {
  padding: 25px;
}

#timetable .red {
  background: #eb1d27;
}

#timetable .extra {
  background: linear-gradient(#eb1d27, #7a7a7a, #eb1d27);
}

#timetable .favorite {
  font-weight: 600 !important;
}

#timetable .highlight {
  background: linear-gradient(120deg, #eb1d27 70%, #7a7a7a 70%);
}

#timetable .timetable-col {
  font-weight: 400;
  cursor: auto;
  text-align: center;
  position: relative;
}

#timetable .timetable-col:hover > .booking-tooltip {
  display: block;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#timetable h6 {
  font-weight: 300;
  margin-top: 5px;
}

#timetable table {
  color: #fff;
  width: 100%;
  border-collapse: separate;
}

#timetable table tr:nth-child(2n) {
  background: #f4f4f4;
}

#timetable table tr:nth-child(2n+3) {
  background: #fff;
  background-origin: border-box;
}

#timetable table tr {
  background-origin: border-box;
}

#timetable table th, #timetable table td {
  padding: 10px 5px 10px 5px;
  width: auto;
  border: 2px solid #fff;
}

#timetable .days, #timetable .time {
  text-align: center !important;
  color: #868686;
}

#timetable .time {
  width: 15% !important;
}

#timetable {
  overflow-x: auto;
}

.top-bg {
  background: #eb1d27;
  padding: 20px 0;
  position: relative;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

footer {
  background-color: #868686;
  color: #e4e5e7;
}

footer .footer-slogan {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(244, 245, 247, 0.6);
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
}

i.fa-star {
  vertical-align: top;
  float: right;
  padding-left: 2px;
}

.description {
  margin-bottom: 18px;
}

.modal-footer {
  margin-top: -5px;
  background-color: #eb1d27;
  color: white;
}

#special-act-modal .modal-header {
  background-color: #eb1d27;
  color: white;
}
#special-act-modal .modal-header .close {
  color: #fff;
  opacity: 1;
}
#special-act-modal .modal-body {
  font-size: 1.1em;
}
